
@{
    ViewBag.Title = "Index";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav>
<header>
    <div class="jumbotron text-center">
        <h1 class="display-4" >Consorcio "Nombre"- Expensas</h1>
    </div>
</header>
<section>
    <div class="row">
        <div class="col-md-8">
            <h4>Gasto Total Mes Actual Septiembre(hasta el momento):</h4>
        </div>
        <div class="col-md-4">
            <h4>$95000</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4>Unidades: 22</h4>
        </div>
        <div class="col-md-4">
            <h4>Monto x Unidad:</h4>
        </div>
        <div class="col-md-4">
            <h4>$4320</h4>
        </div>
    </div>
</section>
<section>

    <table class="table">
        <tr class="table-danger">
            <th>Año</th>
            <th>Mes</th>
            <th>Gasto Total ($)</th>
            <th>Expensas x Unidad ($)</th>
        </tr>
        <tr>
            <td>2020</td>
            <td>8</td>
            <td>110000</td>
            <td>5000</td>
        </tr>
        <tr>
            <td>2020</td>
            <td>7</td>
            <td>360000</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>2020</td>
            <td>6</td>
            <td>110000</td>
            <td>5000</td>
        </tr>
    </table>

</section>
<section>
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</section>


