
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav>
<header>
    <div class="jumbotron text-center">
        <h1 class="display-5">Unidades</h1>
    </div>
</header>
<section class="text-right">
    <button type="button" class="btn btn-primary">Nueva Unidad</button>
    <hr />
</section>
<section>
    <table class="table">
        <tr class="table-danger">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Eliminar</th>
        </tr>
        <tr>
            <td>1A</td>
            <td>Sanchez</td>
            <td>Alberto</td>
            <td>u1a@prueba.com</td>
            <td><a href="#">Eliminar</a></td>
        </tr>
    </table>
</section>
<section>
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</section>