@model  List<DAL.Unidad>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav>
<header>
    <div class="jumbotron text-center">
        <h1 class="display-5">Unidades</h1>
    </div>
</header>
<section class="text-right">
    <a class="btn btn-primary" href="/Unidad/Crear/@ViewBag.IdConsorcio">Nueva Unidad</a>
    <hr />
</section>
<section>
    <table id="listaUnidades" class="table display" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <td><a href="/Unidad/Modificar/@ViewBag.IdConsorcio/@u.IdUnidad">@u.Nombre</a></td>
                    <td>@u.ApellidoPropietario</td>
                    <td>@u.NombrePropietario</td>
                    <td>@u.EmailPropietario</td>
                    <td><a href="/Unidad/Eliminar/@ViewBag.IdConsorcio/@u.IdUnidad">Eliminar</a></td>
                </tr>
            }

        </tbody>
        <tfoot>
        </tfoot>
    </table>
</section>