@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Sistema para la Administracion de Consorcios</h2>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ingresar &raquo;</a></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Registrar &raquo;</a></p>
</div>
