@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<div class="jumbotron">
    <h2>Sistema para la Administracion de Consorcios</h2>
    @Html.ActionLink("Ingresar a mis consorcios","Index","Consorcio",null, new { @class = "btn btn-primary btn-lg" })
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Registrar &raquo;</a></p>
</div>
