@model Entidades.Consorcio
@{
    ViewBag.Title = "update";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}

<h2>Modificar Consorcio</h2>

@using (@Html.BeginForm())
{
    @Html.DisplayNameFor(model => Model.Nombre);
    @Html.TextBoxFor(model => Model.Nombre);
}

