
@{
    ViewBag.Title = "_AnonimoLayout";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        @Html.ActionLink("S.A.C", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>
</div>
<div class="container body-content">
    @RenderBody()
</div>

