/*.row{
    margin-top:20px;
    margin-bottom:20px;
}*/

footer {
    text-align: center;
    display: block
}

section .pagination li{
    float:right;
    display:flex;
}

.field-validation-error {
    color: #f00 !important;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00 !important;
    background-color: #fee !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
} 