/*.row{
    margin-top:20px;
    margin-bottom:20px;
}*/

footer {
    text-align: center;
    display: block
}

section .pagination li{
    float:right;
    display:flex;
}

.field-validation-error {
    color: #f00 !important;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00 !important;
    background-color: #fee !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
} 

/* FOOTER */
#footer {
    background: #eb6864;
    height: 3em;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
}

#footer > p {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    margin: 0.5em;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}